<nav class="foot_nav">

</nav>
<div class="foot_addr">
    <p>
        ㈜ 망고플레이트
        서울특별시 서초구 강남대로99길 53, 6층 (잠원동, 삼우빌딩)
        대표이사: OH JOON HWAN(오준환)
        사업자 등록번호: 211-88-92374 [사업자정보확인]
        통신판매업 신고번호: 2014-서울강남-02615
        고객센터: 02-565-5988

        © 2019 MangoPlate Co., Ltd. All rights reserved.
    </p>
</div>